@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="octavianApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/jquery")

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Content/angular/module.js"></script>
    <script src="~/Content/angular/filter.js"></script>
    <script src="~/Content/angular/service.js"></script>
    <script src="~/Content/angular/directive.js"></script>
    <script src="~/Content/angular/controller.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <base href="/">
</head>
<body>
    <div ng-view>

    </div>
</body>
</html>
